.dateformat {
  color: #1C8ADB !important;
  font-weight: bold;
}

.heading {
  color : #006666;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 5px;
}

.heading-loading {
  color : #d8d8d8;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.opens-closes {
  color : black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.manage {
  color : black;
  font-size: 20px;
  font-weight: 600;
}

.time {
  color : #006666;
  font-size: 20px;
  font-weight: 600;
}

i.material-icons {
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
  position: relative;
  top: -1px;
}