.shadow {
  -webkit-box-shadow: 0 4px 3px -3px #999;
    -moz-box-shadow: 0 4px 3px -3px #999;
    box-shadow: 0 4px 3px -3px #999;
}

.verticalLineLeft {
  border-left: thin solid #ced4da;
   }
.verticalLineRight {
         border-right: thin solid #ced4da;
}
.horizontal {
   width: 100%;
   border-bottom: thin solid #ced4da;
}
.content {
  align-items: center;
}
.facebook {
   margin-left: 40px;
   color: white;
   font-size: 15px;
   font-weight: bold
}
.fbbtn {
   background-color:#485ab5;
}
.google {
   margin-left: 49px;
   color: black;
   font-size: 15px;
   font-weight: bold;
}
.googlebtn {
   background-color:white;
}
.headings {
  font-weight: bold;
  color: #0777bc;
}
.form {
  margin-top: 25px;
}

.input {
   border: 0;
   outline: 0;
   height: 50%;
   margin-left: 3%;
   background: transparent;
   border-bottom: 3px solid #ced4da;
   display: block;
   width: 50%;
   height: calc(2.25rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   color: #495057;
   background-color: #fff;
   line-height: 1.5;
   background-clip: padding-box;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.inputOTP {
   border: 0;
   outline: 0;
   height: 70%;
   margin-left: 3%;
   background: transparent;
   border-bottom: 3px solid #ced4da;
   display: block;
   width: 70%;
   letter-spacing: 7px;
   text-align: center;
   height: calc(2.25rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 1.7rem;
   color: #495057;
   background-color: #fff;
   line-height: 1.5;
   background-clip: padding-box;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
  border-color: #0777bc;
}

/* .button-LS {
   width: 100%;
   height: 50%;
   display: inline-block;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   border: 1px solid transparent;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   line-height: 1.5;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:disabled {
  background-color: #999;
  color: #495057;
} */

.show{
   cursor: pointer;
   margin-top: 8px;
}
.show-hide {
   font-size: 13px;
   font-weight: bold;
}